
@page {
    size: A4;
    margin: 0mm;
}

body {
    font-family: 'Century Gothic', Helvetica, sans-serif;
    font-size: 10pt;
}

#printarea {
    margin-left: 30px;
    margin-top: 61px;
}

#printareabaf {
    margin-left: 30px;
    margin-top: 12px;
}

#nama, #leasing {
    display: inline-block;
    font-size: 11pt;
    padding-left: 220px;
    padding-bottom: 4px;
    margin-top: -10px;
}

#namabaf {
    display: inline-block;
    font-size: 11pt;
    padding-left: 400px;
    padding-bottom: 8px;
    text-align: right;
}

#pembilang {
    display: inline-block;
    font-size: 11pt;
    padding-left: 210px;
    padding-bottom: 8px;
    margin-top: 10px;
}

#rupiah {
    font-size: 11pt;
}

#motor {
    font-size: 10pt;
    padding-left: 170px;
}

#motorbaf {
    display: inline-block;
    font-size: 8pt;
    padding-left: 120px;
    padding-bottom: 12px;
}

#warnabaf {
    font-size: 8pt;
}

#warna {
    font-size: 10pt;
}

#noka, #nosin {
    font-size: 8pt;
}

#nosintext {
    font-size: 8pt;
    padding-left: 120px;
}

.uangmuka {
    display: inline-block;
    font-size: 8pt;
    padding-left: 200px;
    padding-bottom: 10px;
}

#date {
    display: inline-block;
    padding-left: 400px;
    padding-top: 35px;
}

#table{
    padding-top: 48px;
}

#datebaf {
    display: inline-block;
    padding-left: 400px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#tablebaf{
    padding-top: 40px;
}

#nominal, #uangmuka {
    display: inline-block;
    font-weight: bold;
    padding-left: 90px;
}

#ttd {
    display: inline-block;
    padding-left: 240px;
}